In [19]:
# Encode categorical features into numerical values
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,StandardScaler,OrdinalEncoder,LabelBinarizer
df_cleaned.dtypes 
# Converting all the categorical features to numerical
cat_transformer = OrdinalEncoder()
cat_features = ['pdbxDetails','sequence', 'classification']
transformed_cat = cat_transformer.fit_transform(df_cleaned[cat_features])
df_cleaned[cat_features] = transformed_cat
df_cleaned.head(5)

,sequence,classification,structureMolecularWeight,pdbxDetails,phValue
structureId,,,,,
100D,6673.0,673.0,6360.30,79068.0,7.0
100D,6673.0,673.0,6360.30,79068.0,7.0
101M,57880.0,1761.0,18112.80,48360.0,9.0
102D,6913.0,614.0,7637.17,79081.0,7.0
102D,6913.0,614.0,7637.17,79081.0,7.0